body{
	font-size: 20px;
	font-family: sans-serif;
	color:rgb(3, 1, 1);
    background-image: url("blue-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.question{
    
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
    
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#start
{
    font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
    
}
input[type=radio]
{
    display: inline;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
#submit:hover{
	background-color: #3a8;
}
.row{
    width: 100%;

}
.heading
{
    margin-left: 40%;
}


#counter{
    padding-left: 80%;
    font-size: 25px;

}

#top
{
    font-family:Helvetica, sans-serif;
}



